*.log
*.rar
*.pak
*.old
*.ldb
*.exe
*.pdb
**/bin
**/obj
**/Debug
WindowsFormsApplication2/packages/cef.redist.x64.73.1.13/CEF/swiftshader/libEGL.dll
WindowsFormsApplication2/packages/cef.redist.x64.3.3578.1870/CEF/libcef.dll
WindowsFormsApplication2/packages/cef.redist.x64.3.3578.1870/CEF/libcef.dll
